<div class="container">
  <div class="row mx-0">
    <div class="col-lg-4 mx-auto">
      <main class="form-signin">
        <form>
          <div class="text-center">
            <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
          </div>
          <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

          <div class="form-floating mb-4">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-4">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>

          <div class="checkbox mb-3">
            <label style="cursor: pointer;">
              <input type="checkbox" value="remember-me" style="transform: scale(1.5);">
              <span class="px-2"> Remember me</span>
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
      </main>
    </div>
  </div>
</div>